
$body_bg: #282927;
$document_fonts: Geneva,Arial,Helvetica,sans-serif;

@import "navigationBar.scss";
@import "content.scss";
@import "pagination.scss";
@import "button.scss";
@import "games.scss"; 

body {
    background-color: $body_bg;
    margin: 0;
    padding: 0;
    font-family: $document_fonts;
}